* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 320px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 360px;
}

.header {
  background-color: #676788;
  min-width: 100vw;
}

.header h2 {
  margin: 0;
  padding: 10px 50px 10px 150px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}

.dashBoard {
  min-height: 150px;
  min-width: 320px;
  position: relative;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  -webkit-transition: .4s;
  transition: .4s;
  background: -webkit-gradient(linear, left top, right top, from(#6b8ecf), to(#fff));
  background: linear-gradient(to right, #6b8ecf, #fff);
  color: #111;
}

.dashBoard input {
  margin: 0 5px;
  width: 33px;
  border: 1px dotted #faf0f0;
  background-color: #eeaf4b;
  color: #111;
}

.dashBoard .clearAndDel {
  margin: 20px 10px;
}

.dashBoard .clearAndDel button {
  -webkit-transition: .3s;
  transition: .3s;
  color: #060808;
  opacity: .7;
  background-color: #695046;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.dashBoard .clearAndDel button:hover {
  opacity: 1;
  color: red;
  background-color: burlywood;
}

.dashBoard .openDashBoard span {
  padding: 5px 10px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}

.dashBoard .closeDashBoard {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3px;
  padding: 1px 5px;
  background-color: #cedfdf;
  color: #800064;
  border-radius: 3px;
}

.dashBoard .closeDashBoard:hover {
  background-color: #d18460;
}

.dashBoard:hover {
  color: #6a25aa;
}

.selectBtns {
  margin: 0 auto;
  padding: 10px;
  text-align: left;
}

.selectBtns .leftArrow {
  margin: 0 35px;
  padding: 0;
  color: #ff7b00;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-transition: .3s;
  transition: .3s;
}

.selectBtns .leftArrow:hover {
  color: #70288d;
}

.selectBtns .leftArrow:active {
  color: red;
}

.selectBtns .rightArrow {
  margin: 0 20px;
  padding: 0;
  color: #ff7b00;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-transition: .3s;
  transition: .3s;
}

.selectBtns .rightArrow:hover {
  color: #70288d;
}

.selectBtns .rightArrow:active {
  color: red;
}

.selectBtns .select {
  cursor: pointer;
  margin: 0 5px;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

.search {
  margin: 0 auto 30px;
  padding: 10px;
  color: #8a2500;
}

.search input {
  min-width: 300px;
}

.table {
  margin: 10px 10px 50px;
  border-collapse: collapse;
  border: none;
}

.table .rowCounters {
  text-align: center;
  font-weight: 500;
  cursor: row-resize;
}

.table th {
  border: 1px solid #111;
  position: relative;
  height: 30px;
  background-color: #676788;
  min-width: 40px;
}

.table th input {
  text-align: center;
  height: 100%;
  width: 200px;
  border: none;
  background-color: #676788;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.table th .rotatedN {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.table th .search4ColInp {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #a7d5e0;
  color: #111;
  z-index: 5;
  bottom: 105%;
  -webkit-transition: 1s;
  transition: 1s;
}

.table th .sortColOpen {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 1.2em;
  opacity: .9;
  cursor: pointer;
  color: #bcccf0;
}

.table th .sortColOpen:hover {
  color: white;
}

.table th .sortColClose {
  position: absolute;
  bottom: 149%;
  left: 86%;
  padding: 5px;
  font-size: 1.2em;
  opacity: .9;
  cursor: pointer;
  color: #5f77af;
  z-index: 10;
}

.table th .sortColClose:hover {
  color: #530bfb;
}

.table th .insertCol {
  position: absolute;
  padding: 0 4px;
  background-color: #b8cce7;
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 0;
  bottom: 0;
  opacity: .5;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 10px;
  border-top-left-radius: 8px;
}

.table th .insertCol:hover {
  opacity: 1;
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
  border-top-left-radius: 0;
  background-color: #cfdff6;
  cursor: col-resize;
  color: white;
}

.table td {
  position: relative;
  border: 1px solid #111;
}

.table .textArea {
  min-height: 50px;
  width: 100%;
  font-size: 1em;
  border: none;
  outline: none;
  margin: 0;
  padding: 5px;
  resize: none;
}
/*# sourceMappingURL=index.css.map */